<ul>
<% @orders.each do |order| %>
  <li>
    <%= order.sn %>
    <%= link_to "Show", order_path(order) %>
     </li>
<% end %>
</ul>

<%= paginate @orders %>
<%= link_to '返回首頁', root_path %>