

<div>
	管理者名稱: <%= @member.name %>
</div>

<div>
	email: <%= @member.email %>
</div>

<div>
	password: <%= @member.password %>
</div>

<p><%= link_to '回到管理者目錄', member_index_path %></p>